<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Page de Recherche</title>
  </head>
  <body>
    <h1>Page de Recherche</h1>

    <form class="admin" action="/search-user" method="POST">
      <label for="nom">Rechercher un lieu :</label>
      <input type="text" id="nom" name="nom" list="suggestions" required />
      <datalist id="suggestions"></datalist>
      <button type="submit">Rechercher</button>
    </form>

    <div class="admin">
      <% if (error) { %>
      <p style="color: red"><%= error %></p>
      <% } %> <% if (lieux && lieux.length > 0) { %>
      <h2>Informations du lieu :</h2>
      <% lieux.forEach(function(lieu) { %>
      <div>
        <p><strong>ID :</strong> <%= lieu.lieu_id %></p>
        <p><strong>Nom :</strong> <%= lieu.nom %></p>
        <p><strong>Longitude :</strong> <%= lieu.longitude %></p>
        <p><strong>Latitude :</strong> <%= lieu.latitude %></p>
        <p><strong>Particularité :</strong> <%= lieu.particularite %></p>
        <hr />
      </div>
      <% }); %> <% } else { %>
      <p>Aucun lieu trouvé.</p>
      <% } %>
    </div>

    <div class="registration">
      <a href="/admin"><h2>retour à la page d'administration</h2></a>
      <a href="/home"><h2>retour à la page d'accueil</h2></a>
      <a href="/login"><h2>retour à la page de login</h2></a>
      <a href="/details"><h2>retour à la page des details</h2></a>
    </div>

    <script>
      document.getElementById("nom").addEventListener("input", function () {
        const query = this.value;
        if (query.length > 2) {
          fetch(`/suggest-lieu?query=${query}`)
            .then((response) => response.json())
            .then((data) => {
              const datalist = document.getElementById("suggestions");
              datalist.innerHTML = "";
              data.forEach((item) => {
                const option = document.createElement("option");
                option.value = item.nom;
                datalist.appendChild(option);
              });
            });
        }
      });
    </script>
  </body>
</html>
