<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Détails de l'utilisateur</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1>Bienvenue, <%= user.username %>!</h1>
    <p>Voici vos détails :</p>

    <div class="admin">
      <% if (user) { %>
      <h2>Votre informations:</h2>
      <p><strong>ID :</strong> <%= user.id %></p>
      <p><strong>Nom d'utilisateur :</strong> <%= user.username %></p>
      <p><strong>Rôle :</strong> <%= user.role %></p>
      <p><strong>Créé le :</strong> <%= user.created_at %></p>
      <p><strong>Dernière mise à jour :</strong> <%= user.updated_at %></p>
      <% } %>
    </div>

    <a href="./home">Se déconnecter</a>
    <a href="./logout">logout</a>
  </body>
</html>
